.about-robbin {
  text-align: center;
  font-size: 1rem;

  h4 {
    font-family: "Nanum Myeongjo", serif;
    font-size: 3rem;
    font-weight: 700;
    padding-top: 12%;
  }

  .content {
    line-height: 1.5rem;

    padding-top: 5%;
    font-weight: 700;
  }

  .detail-content {
    line-height: 1.5rem;

    padding-top: 2%;
    padding-bottom: 4%;
    color: rgb(106, 103, 103);
  }
  .github {
    cursor: pointer;
    img {
      width: 100px;
      height: 100px;
    }
    padding-bottom: 7%;
  }
}
