.good-taste {
  text-align: center;
  background-image: url("../../../public/images/food-on-the-table2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  line-height: 1.5rem;

  .inner {
    h4 {
      font-family: 'Nanum Myeongjo', serif;
      font-weight: 700;
      padding-top: 15%;
      font-size: 2rem;
      padding-bottom: 5%;
      opacity: 0;
      transform: translateY(-15%);
    }

    .content {
      // padding-top: 5%;
      padding-bottom: 15%;
      opacity: 0;
      transform: translateY(15%);

    }
  }
}