.healthy-food {
  .inner {
    text-align: center;
    height: 30%;
    padding-bottom: 10%;
    h4 {
      padding: 8% 0;
      font-family: 'Nanum Myeongjo', serif;
      font-size: 2rem;
      font-weight: 700;
    }
    .food-menu{
      position: relative;
      width: 100%;
      height: 100%;

      display: flex;
      .item-L {
        position: relative;
        width: 33%;
        margin-right: 2px;

        img {

          position: absolute;
          left: 0;
          width: 100%;
          height: 100%;
          object-position: center;
          object-fit: cover;
        }
        &::after{
          content: "";
          display: block;
          padding-bottom: 50%;
        }
      }

      .item-R {
        width: 66%;
        height: 100%;
        display: block;
        .item{
          display: flex;
          height: 50%;
          img {
            padding: 0 2px;
            object-fit: cover;
            object-position: center;
            width: 50%;
            height: 50%;
          }
          &:first-child {
            padding-bottom: 2px;
          }
          &:last-child {
            padding-top: 2px;

          }

        }
      }
    }
  }
}